meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// SEO
title 回家才Dope / Home, Sweet Home. - JUKSY 街星
meta(name='keywords', content='流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術,3C,超跑,正妹')
meta(name='description', content='在歸鄉之情到達顛峰的5月裡，不好意思，JUKSY不搞溫馨這套！各位拋開煩悶的工作卸下人前的武裝，回家吧，別說回家麻煩！讓我們用兄弟本色的硬態度跟邵雨薇的軟倔強來告訴你，回家才是一件夠Dope的事。')
// SEO end

// FB
meta(property='fb:app_id', content='608477045879026')
meta(property='og:title', content='回家才Dope / Home, Sweet Home.')
meta(property='og:description', content='在歸鄉之情到達顛峰的5月裡，不好意思，JUKSY不搞溫馨這套！各位拋開煩悶的工作卸下人前的武裝，回家吧，別說回家麻煩！讓我們用兄弟本色的硬態度跟邵雨薇的軟倔強來告訴你，回家才是一件夠Dope的事。')
meta(property='og:image', content='img/fb.png')
meta(property='og:url', content='https://www.juksy.com/events/dope2017may')
meta(property='og:site_name', content='JUKSY 街星')
meta(property='og:type', content='website')
// FB end

// Web Clip
link(rel='shortcut icon', href='https://www.juksy.com/img/logo.ico')
link(rel='apple-touch-icon-precomposed', href='https://www.juksy.com/img/logoios.ico')
// Web Clip end

// CSS

// CSS DEV FILE
link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css', rel='stylesheet')
link(href='css/index.css', rel='stylesheet')

// CSS MIN FILE
//- link(href='css/app.min.css', rel='stylesheet')

// CSS end

// JS global var
script(type='text/javascript')
	include ../js/head.js
// JS global var end