// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img(href='https://www.juksy.com/archives/64816', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/64816/58fdd906052f4.png?m=resize&i=600x600&e=jpg&q=75')
				li
					a.img(href='https://www.juksy.com/archives/65168', target='_blank', data-module='lazy_image', data-lazyimg='https://static.juksy.com/files/cover/65168/5902f18605539.png?m=resize&i=600x600&e=jpg&q=75')
			.txt
				ul.dateWrap
					li.now
						.date 11
						.month MAY
							br
							| 2017
						.author by Sandra
					li
						.date 11
						.month MAY
							br
							| 2017
						.author by Alec
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/64816', target='_blank')
								h3 兄弟本色自爆私下最愛玩「這個」！張震嶽語出驚人：什麼都玩就是不玩女人？！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 「華語嘻哈饒舌」可說是越來越夯，由張震嶽、熱狗、頑童 MJ116 組成的「兄弟本色」，巡迴演唱會將在4月底唱回台北小巨蛋，2 萬多張門票在 4 分鐘就秒殺，足以可見他們的超高人氣！不過對「兄弟本色」這個團體不戀棧的他們，演唱會後即將回歸「單身」、回歸自己的崗位，堅持做出屬於自己的音樂！ 
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/64816', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-module='dotdotdot', href='https://www.juksy.com/archives/65168', target='_blank')
								h3 耍狠、耍懶一次到位！兄弟本色直接示範 2 種穿搭風格
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-module='dotdotdot') 
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/65168', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end